{% extends 'base.html' %}


{% block content%} 

    <div class="container-fluid ">
        <div class="d-flex justify-content-center mt-5">
            <div class="d-flex gap-3 flex-column">
                <h3 style='color:white'>Contact Form</h3>

                {% if sucess_message %}
                    <div class="alert alert-success " role="alert">
                        {{ sucess_message }}
                    </div>
                {% endif %}

                <form method="post"  class="row g-3">

                     {% csrf_token %} 
                    <div class="col-md-6">
                        <label style='color:white' for="name" class="form-label">Name</label>
                        <input value="{{name}}" type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="col-md-6">
                        <label style='color:white' for="email" class="form-label">Email</label>
                        <input value="{{email}}" type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="col-12">
                        <label style='color:white' for="message" class="form-label">Message</label>
                        <textarea value="{{message}}" class="form-control" id="message" name="message" rows="4" required></textarea>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
    </div>
        






{% endblock %}