{% extends 'base.html' %}

<!-- 
 {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
</head>
  
<body >
    <header class="p-3 bg-dark text-white">
        <div class="row">
            <div class="col">
                <h3>Blog</h3>
            </div>
            <div class="col">
                <div class="d-flex justify-content-center gap-3">
                    <a class="text-light text-decoration-none" href="">Home</a>
                    <a class="text-light text-decoration-none" href="">About</a>
                    <a class="text-light text-decoration-none" href="">Contact</a>
                </div>
            </div>
        </div>
    </header>


--> 



<!--
Template Syntax
read template_read.txt

-->


{% block content%}   <!--Hard cored  cards-->
    <div class="container-fluid ">
    <div class="row">

        <!--filters - upper, length  , truncatewords:1 (text ellipsis) , --> 
        <h2 >  {{blog_title | upper}}    <!--Latest Posts-->   </h2>
    </div>



    <div class="row m-3">


        {% if posts %} <!--true or false-->
            {% for post in posts %}
            <div class="col-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <h3>hello</h3>

                            <img style="height:300 , width:300" src="{{ post.img_url }}" class="img-fluid" alt="...">
                        </div>
                        <div class="col-md-8">
                            <h5 class="card-title">{{post.title}}</h5>
                            <p class="card-text">{{post.content}}</p>
                            <div class="d-flex justify-content-between">
                                <!-- url appname:pathnaame = dict values name -->
                                 <a href="{% url 'blog:detail' post_id=post.id %}">Read More</a>
                                <a class="text-decoration-none text-dark fw-bold" href="#">Sports</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            {% endfor %}
        {% else %}
            <p>No Post Data Available</p>
        {% endif %}
        



    <div class="row">
       
    </div>
    
    </div>
{% endblock %}



    <!--
    
    <footer class="bg-dark text-light p-3 fixed-bottom">
        <div class="col-4 d-flex justify-content-center align-items-center">
          <span class="text-light">© 2021 Company, Inc</span>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
    -->