
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'registration/register_style.css' %}">
    <title>Register Now</title>
</head>
<body>
    <div class="registration-container">
        <img src="{% static 'registration/logo.png' %}" alt="Django Logo" class="django-logo">
        <h1>Let's get started, Register now!</h1>
        
        <form method="post" class="form-grid">
            {% csrf_token %}
            {{form.as_p }}
            <!-- Submit Button (full width) -->
            <input type="submit" value="Register" class="full-width btnn">
        </form>

        <p>Already have an account? <a href="/">Login here</a></p>
    </div>
</body>
</html>


